<p>
    The <span>current</span> count is <span class="counter-display">going to be overwritten by javascripts</span>
<p>

<a href="/place/we/dont/want/to/go/now/that/we/have/js/" class="increment-counter">Up!</a>
<a href="/place/we/dont/want/to/go/now/that/we/have/js/" class="increment-counter">Up!</a>
<a href="/place/we/dont/want/to/go/now/that/we/have/js/" class="increment-counter">Up!</a>

<!-- For now, put your js is a file down at the bottom of whichever view you're rendering -->
<script type="text/javascript">
  var count = 0;

  var incButtons = document.querySelectorAll(".increment-counter");
  var displayNode = document.querySelector("span.counter-display");

  for (var i = 0; i < incButtons.length; i ++) {
    incButton = incButtons[i];
    incButton.addEventListener("click", function(e) {
      // This stops the link from actually making a GET request
      e.preventDefault();

      //alert("Button was clicked");
      if (count < 10) {
        count += 1;
        displayNode.innerText = count;
      } else {
        displayNode.innerHTML = '<img src="https://i.imgflip.com/txo8v.jpg">';
      }

      // Here's one way to grab the node that was clicked ...
      var clicked = e.target;
      // ... and do something with it
      var newNode = document.createElement("span");
      newNode.innerText = "·";
      clicked.appendChild(newNode);
    });
  }
</script>
